.header {
  border-bottom: 1px solid var(--nav-border);
  background-color: var(--primary-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header__container {
  display: flex;
}

.header__link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  @extend %link;
  transition: fill var(--time-animation) var(--cubic-bezier),
    color var(--time-animation) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
